*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
}

.container{
    padding: 15px;
    width:500px;
    background-color: rgb(250, 253, 252);
    position: relative;
    margin-top: 15px;
}

input{
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
}

button{
    font-size: 20px;
    font-weight: bold;
    width: 80px;
    height: 40px;
    padding: 3px;
    border-radius: 10% ;
    border-style: none;
    background-color: rgb(7, 207, 237);
    color: aliceblue;
}

#diceResult{
    margin: 15px;
}

#diceImg Img{
    width: 100px;
    height : 100px;
    margin: 10px;
}
