body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#mylabel{
    font-size: 5em ;
}

#mybutton{
    background-color: blueviolet;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    transition: ease-in-out 0.25s;
    cursor: pointer;
    color: aliceblue;
}

#mybutton:hover{
    background-color: rgb(79, 5, 147)
}