*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    padding: 15px;
    position: relative;
    margin-top: 30px;
    width : 250px;
    height : 330px;
    background-color: aliceblue;
    text-align: center;
    border-radius: 10% ;
    border-style: solid;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
}

#myH1{
    color: rgb(78, 78, 233);
}

#myTemp{
    width: 180px;
    height: 30px;
    border: 2px solid;
    font-size: 20px;
    text-align: center;
}

#mySubmit{
    padding: 5px;
    font-size: 20px;
    border: solid;
    border-radius: 10%;
    background-color: rgba(47, 255, 0, 0.518);
}

#myP{
    font-size: 20px;
}