*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(227, 226, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.weatherForm{
    margin:15px;
}

.cityInput{
    font-size: 1.5rem;
    padding: 5px;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.30);
    border-radius: 5px;
}

button[type="submit"]{
    padding: 5px;
    font-size: 1.5rem;
    width: 150px;
    font-weight: bold;
    color: white;
    background-color: rgb(117, 227, 6);
    border-radius: 5px;
    border: none;
    transition: ease 0.2s;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: rgb(91, 171, 12);
}

.weatherResult{
    margin-top: 30px;
    width: 250px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: linear-gradient(185deg, hsla(185, 100%, 50%, 0.50), hsla(42, 98%, 49%, 0.5));
    transform: scale(1.2);
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
}

.cityDisplay{
    margin-top:15px;
    color: hsla(0, 0%, 0%, 0.75);
}

.tempDisplay{
    margin-top:15px;
    margin-bottom:15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.75);
}

.humidDisplay{
    font-weight: bold;
    margin-bottom: 10px;
}

.descDisplay{
    font-weight: bold;
    font-size: 1.2rem;
    font-style: italic;
}

.emojiDisplay{
    font-size: 4rem;
}

.errorDisplay{
    margin-top: 15px;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.75);
    margin-bottom: 15px;
    font-size: 1.2rem;
}



