*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#first{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    gap:20px;
}

.user{
    width:180px;
    text-align: center;
    padding: 10px;
    border: 2px white solid;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

h1{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}    

.user:hover{
    transform : scale(1.1); 
}

img{
    object-fit:cover;
    height: 200px;
    width:100%;
    margin-bottom: 10px;
}

h2{
    margin-bottom: 10px;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(238, 4, 255);
}